<section id="eventconfig">

    <h3>Trigger</h3>
    <ul class="list-inline">
        <li>
            <div
                    isteven-multi-select
                    input-model="vm.triggerSelect.model"
                    output-model="vm.triggerSelect.out"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    helper-elements=""
                    translation="vm.triggerSelect.langState"
                    selection-mode="single"
                    on-item-click="vm.onTriggerChanged( data )"
                    >
            </div>
        </li>
    </ul>

    <ul class="list-inline" ng-repeat="array in vm.eventTrigger.fullarray">
        <li ng-repeat="selectclass in array">
            <div
                    isteven-multi-select
                    input-model="selectclass.model"
                    output-model="selectclass.out"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    helper-elements=""
                    translation="selectclass.langState"

                    >
                <!-- selection-mode="single" -->
            </div>

        </li>
    </ul>


    <h3>Filter</h3>
    <ul class="list-inline">
        <li>
            <div
                    isteven-multi-select
                    input-model="vm.filterSelect.model"
                    output-model="vm.filterSelect.out"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    helper-elements=""
                    translation="vm.filterSelect.langState"
                    selection-mode="single"
                    on-item-click="vm.onFilterChanged( data )"
                    >
            </div>
        </li>
    </ul>

    <ul class="list-inline" ng-repeat="array in vm.eventFilter.fullarray">
        <li ng-repeat="selectclass in array">
            <div
                    isteven-multi-select
                    input-model="selectclass.model"
                    output-model="selectclass.out"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    helper-elements=""
                    translation="selectclass.langState"

                    >
                <!-- selection-mode="single" -->
            </div>

        </li>
    </ul>


    <h3>Action</h3>
    <ul class="list-inline">
        <li>
            <div
                    isteven-multi-select
                    input-model="vm.actionSelect.model"
                    output-model="vm.actionSelect.out"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    helper-elements=""
                    translation="vm.actionSelect.langState"
                    selection-mode="single"
                    on-item-click="vm.onActionChanged( data )"
                    >
            </div>
        </li>
    </ul>

    <ul class="list-inline" ng-repeat="array in vm.eventAction.fullarray">
        <li ng-repeat="selectclass in array">
            <div
                    isteven-multi-select
                    input-model="selectclass.model"
                    output-model="selectclass.out"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    helper-elements=""
                    translation="selectclass.langState"

                    >
                <!-- selection-mode="single" -->
            </div>

        </li>
    </ul>

</section>

