<section id="eventconfig">



    <h3>Trigger</h3>


    <ul class="list-inline">
        <li>
            <dropdown-multiselect
                    label="vm.triggerSelect.label" select-mode="singel"
                    input-model="vm.triggerSelect.model" model="vm.selected_items"
                    on-click="vm.onTriggerChanged(data)"
            </dropdown-multiselect>
        </li>
    </ul>

    <ul class="list-inline" ng-repeat="array in vm.eventTrigger.fullarray">
        <li><h4>{{ array.id }}</h4></li>
        <li ng-repeat="selectclass in array.array">
            <dropdown-multiselect
                    label="selectclass.label" select-mode="multi"
                    input-model="selectclass.model" model="selectclass.out"
            </dropdown-multiselect>
        </li>
    </ul>


    <h3>Filter</h3>
    <ul class="list-inline">
        <li>
            <dropdown-multiselect
                    label="vm.filterSelect.label" select-mode="singel"
                    input-model="vm.filterSelect.model" model="vm.filterSelect.out"
                    on-click="vm.onFilterChanged(data)"
            </dropdown-multiselect>
        </li>
    </ul>

    <ul class="list-inline" ng-repeat="array in vm.eventFilter.fullarray">
        <li><h4>{{ array.id }}</h4></li>
        <li ng-repeat="selectclass in array.array">
            <dropdown-multiselect
                    label="selectclass.label" select-mode="multi"
                    input-model="selectclass.model" model="selectclass.out"
            </dropdown-multiselect>
        </li>
    </ul>


    <h3>Action</h3>
    <ul class="list-inline">
        <li>
            <dropdown-multiselect
                    label="vm.actionSelect.label" select-mode="singel"
                    input-model="vm.actionSelect.model" model="vm.actionSelect.out"
                    on-click="vm.onActionChanged(data)"
            </dropdown-multiselect>
        </li>
    </ul>

    <ul class="list-inline" ng-repeat="array in vm.eventAction.fullarray">
        <li ng-repeat="selectclass in array.array">
            <dropdown-multiselect
                    label="selectclass.label" select-mode="multi"
                    input-model="selectclass.model" model="selectclass.out"
            </dropdown-multiselect>
        </li>
    </ul>

    <br>
    <button class="btn" ng-click="vm.save()">Save</button>
    <br>
    {{ vm.eventdata | json}}
    <br>
    {{ vm.triggerdata | json}}

</section>

